<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorator="layouts/root_layout">
<head>
</head>
<body>
	<div layout:fragment="page-content">
    	<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">Datos del paciente</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
            	<div class="">            		
           			<div class="col-md-2">
           				<img class="profile-user-img img-responsive img-circle" th:src="@{${person.imageprofile}}" alt="User profile picture"/>
						<h3 class="profile-username text-center"><span th:text="${person.firstname+' '+person.lastname}"></span></h3>
	            		<p class="text-muted text-center"><span th:text="${person.tdocumento+' '+person.ndocumento}"></span></p>
           			</div>
           			<div class="col-md-3">           				
	              		<div class="form-group"><label class="control-label">Documento paciente:</label>
	        				<p class="form-control-static"><span th:text="${person.tdocumento+' '+person.ndocumento}"></span></p>
	        			</div> 
	              		<div class="form-group"><label class="control-label">Fecha nacimiento:</label>
	        				<p class="form-control-static"><span th:text="${person.birthdate}"></span></p>
	        			</div> 
	        			 <div class="form-group"><label class="control-label">Sexo:</label>
	        				<p class="form-control-static"><span th:text="${person.tsexo}"></span></p>
	        			</div> 
           			</div>  
           			<div class="col-md-3">
           				<div class="form-group"><label class="control-label">Nombre completo:</label>
	        				<p class="form-control-static">
	        				<span th:text="${person.firstname+' '+person.firstname2+' '+person.lastname+' '+person.lastname2}"></span></p>
	        			</div> 
	        			 <div class="form-group"><label class="control-label">Edad:</label>
	        				<p class="form-control-static"><span th:text="${edad}"></span></p>
	        			</div>
	        			<div class="form-group"><label class="control-label">Teléfono:</label>
	        				<p class="form-control-static"><span th:text="${person.telefono}"></span></p>
	        			</div>
           			</div>        
           			<div class="col-md-4">
           				<div class="form-group"><label class="control-label">Ciudad nacimiento:</label>
	        				<p class="form-control-static"><span th:text="${person.cnacimiento.countryModel.name+ ' | '+person.cnacimiento.name}"></span></p>
	        			</div> 
	        			<div class="form-group"><label class="control-label">Ciudad residencia:</label>
	        				<p class="form-control-static"><span th:text="${person.cresidencia.countryModel.name+' | '+person.cresidencia.name}"></span></p>
	        			</div>
	        			<div class="form-group"><label class="control-label">Dirección:</label>
	        				<p class="form-control-static"><span th:text="${person.direccion}"></span></p>
	        			</div> 
           			</div>		
            	</div>
            </div>
            <!-- /.box-body -->             
		</div>
    	<!-- /.box box-info -->
		 <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-striped">
                <thead>
                <tr>
                  <th>Fecha Atención</th>
                  <th>ID Ingreso</th>
                  <th>Empresa contratante</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="historia : ${historias}">
                	<td><span th:text="${#dates.format(historia.ingresomodel.fecha, 'dd/MM/yyyy hh:mm a')}"></span></td>
                	<td><span th:text="${historia.ingresomodel.norden}"></span></td>
                	<td><span th:text="${historia.ingresomodel.empresa}"></span></td>
                	<td><a href="#" th:href="@{'/historia/reporthistoria?id='+${historia.id}}" target="_blank">
                			<span class="btn btn-block btn-success btn-xs"><i class="fa fa-print"></i> Historia</span>
                		</a></td>
                	<td><a href="#"><span class="btn btn-block btn-success btn-xs">Tratamiento</span></a></td>
                </tr>             
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
		
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
	  		<div class="modal-dialog">
	    	<!-- Modal content-->
	    		<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal">&times;</button>
		        		<h4 class="modal-title">Cambiar fecha y hora</h4>
		      		</div>
		   			<div class="modal-body">		   				
		   				<div class="col-md-6">
		        			<div class="form-group"><label class="control-label">Fecha de atención:</label>
			        			<div class="input-group date">
				        			<div class="input-group-addon">
				        				<i class="fa fa-calendar"></i>
			        				</div>
		       						<input type="text" class="form-control pull-right" id="datepicker" value="01/12/2016"/>
		               			</div>           			
              				</div>
              			</div>
              			<div class="col-md-6">
              				<div class="bootstrap-timepicker">
              					<div class="form-group"><label class="control-label">Hora de atención:</label>
              						<div class="input-group">
	              						<input type="text" class="form-control timepicker"/>
	              						<div class="input-group-addon">
	                      					<i class="fa fa-clock-o"></i>
	                    				</div>
              						</div>              					
              					</div>
              				</div>
              			</div>              			
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        		<button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
		      		</div>
	    		</div>
	  		</div>
		</div>
		<!-- Modal -->
		
		
	</div>
	
	
		
</body>
</html>