<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorator="layouts/root_layout">
<head>
</head>
<body>
	<div layout:fragment="page-content">    	
		 <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="tablehistorias" class="table table-striped">
                <thead>
                <tr>
                  <th>Documento</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th></th>
                </tr>
                </thead>               
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
		
		
		
	</div>
	
		
</body>
</html>