<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorator="layouts/root_layout">
<head>
</head>
<body>
	<div layout:fragment="page-content">
    	<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">Datos del paciente</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				</div>
			</div>
			<!-- /.box-header -->
            <div class="box-body">
            	<div class="">            		
           			<div class="col-md-2">
           				<img class="profile-user-img img-responsive img-circle" th:src="@{'/user/files?filename='+${person.id}}" alt="User profile picture"/>
						<h3 class="profile-username text-center"><span th:text="${person.firstname+' '+person.lastname}"></span></h3>
	            		<p class="text-muted text-center"><span th:text="${person.tdocumento+' '+person.ndocumento}"></span></p>
           			</div>
           			<div class="col-md-3">           				
	              		<div class="form-group"><label class="control-label">Documento paciente:</label>
	        				<p class="form-control-static"><span th:text="${person.tdocumento+' '+person.ndocumento}"></span></p>
	        			</div> 
	              		<div class="form-group"><label class="control-label">Fecha nacimiento:</label>
	        				<p class="form-control-static"><span th:text="${person.birthdate}"></span></p>
	        			</div> 
	        			 <div class="form-group"><label class="control-label">Sexo:</label>
	        				<p class="form-control-static"><span th:text="${person.tsexo}"></span></p>
	        			</div> 
           			</div>  
           			<div class="col-md-3">
           				<div class="form-group"><label class="control-label">Nombre completo:</label>
	        				<p class="form-control-static">
	        				<span th:text="${person.firstname+' '+person.firstname2+' '+person.lastname+' '+person.lastname2}"></span></p>
	        			</div> 
	        			 <div class="form-group"><label class="control-label">Edad:</label>
	        				<p class="form-control-static"><span th:text="${edad}"></span></p>
	        			</div>
	        			<div class="form-group"><label class="control-label">Teléfono:</label>
	        				<p class="form-control-static"><span th:text="${person.telefono}"></span></p>
	        			</div>
           			</div>        
           			<div class="col-md-4">
           				<div class="form-group"><label class="control-label">Ciudad nacimiento:</label>
	        				<p class="form-control-static"><span th:text="${person.cnacimiento.countryModel.name+ ' | '+person.cnacimiento.name}"></span></p>
	        			</div> 
	        			<div class="form-group"><label class="control-label">Ciudad residencia:</label>
	        				<p class="form-control-static"><span th:text="${person.cresidencia.countryModel.name+' | '+person.cresidencia.name}"></span></p>
	        			</div>
	        			<div class="form-group"><label class="control-label">Dirección:</label>
	        				<p class="form-control-static"><span th:text="${person.direccion}"></span></p>
	        			</div> 
           			</div>		
            	</div>
            </div>
            <!-- /.box-body -->            
		</div>
    	<!-- /.box box-info -->
		 <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
            <input type="hidden" id="idfactura" th:value="${factura.id}" />
            <div class="row">
	            <div class="col-md-3">
	            	<div class="form-group"><label class="control-label">ID Orden:</label></div>
	            	<p class="form-control-static">NO<span th:text="${factura.ingresomodel.norden}"></span></p>
	            </div>
	            <div class="col-md-3">
	            	<div class="form-group"><label class="control-label">ID FACTURA:</label></div>
	            	<input class="form-control" type="text"  th:value="${factura.idfactura}" placeholder="FA" th:disabled="disabled"/><!-- debe generar un numero consecutivo -->
	            </div>
	            <div th:if="${factura.estado == 'ANULADO'}" class="col-md-3">
	            	<div class="form-group"><label class="control-label">ESTADO:</label></div>
	            	<h4><strong><span class="text-warning" th:text="${factura.estado}"></span></strong></h4>	            	
	            </div>
	            <div th:if="${factura.estado == 'FINALIZADO'}" class="col-md-3">
	            	<div class="form-group"><label class="control-label">ESTADO:</label></div>
	            	<h4><strong><span class="text-primary" th:text="${factura.estado}"></span></strong></h4>	            	
	            </div>
            </div>
            
            <hr />
            <div class="row">
            	<div class="col-md-5">
		            <div class="input-group">
		            	<span class="input-group-addon">Artículo: </span>
		            	<select th:id="articulo" class="form-control" style="width: 100%;"></select>
		            </div>
	            </div>
	            <div class="col-md-2">
	            	<div class="input-group">
	            		<span class="input-group-addon">Valor: $</span>
						<input type="text" class="form-control" id="fact-valor-product" placeholder="0.00" /> 
					</div>
	            </div>	
	            <div class="col-md-2"> <!-- <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" /> -->
	            	<div class="input-group">
	            		<span class="input-group-addon">Cantidad</span>
						<input type="text" class="form-control" id="fact-cant-product" placeholder="0" /> 
					</div>
	            </div> 
	            <div class="col-md-2">
	            	<input type="button" class="btn btn-primary " id="addrow" value="Agregar" />
	            </div>           
            </div>
            <hr />
            <div class="col-xs-12 table-responsive">
	              <table id="table-factura" class="table table-striped">
	                <thead>
	                <tr>
	                	<th>Cantidad</th>
	                  	<th>Descripción</th>                  
	                  	<th>Precio</th>
	                  	<th>Importe</th>
	                  	<th></th>
	                  	<th style="display:none;">idartfactura</th>
	                </tr>
	                </thead>
	                <tbody>
	                    <tr th:each="facturad : ${facturadesc}">
	                    	<td><span th:text="${facturad.cantidad}" ></span></td>
	                    	<td><span th:text="${facturad.namearticulo}" ></span></td>
	                    	<td><span th:text="${facturad.varticulo}" ></span></td>
	                    	<td><span th:text="${facturad.vtotal}" ></span></td>
	                    	<td><input type="button" class="ibtnDel btn btn-xs btn-danger" value="Borrar"/></td>
	                    	<td style="display:none;"><span th:text="${facturad.id}"></span></td>
	                    </tr>
	                </tbody>
	              </table>
              </div>
              <br/>
              <div class="row">
              <input type="hidden" id="fact-subtotal-var" th:value="${factura.subtotal}" /> 
              <input type="hidden" id="fact-total-var" th:value="${factura.valortotal}" />
              	<div class="col-xs-6">
		          <p class="lead">Fecha de Factura: <span th:text="${#dates.format(factura.fecha, 'dd-MM-yyyy hh:mm a')}"></span></p>
		
		          <div class="table-responsive">
		            <table class="table">
		              <tr>
		                <th style="width:50%">Subtotal:</th>
		                <td>$<span id="fact-subtotal" th:text="${factura.subtotal}"></span></td>
		              </tr>
		              <tr>
		                <th>IVA (<span id="fact-iva-t" th:text="${factura.valoriva}"></span>%)</th>
		                <td>
		                	<input type="text" style="width: 60px;" class="form-control input-sm" id="fact-iva" th:value="${factura.valoriva}" placeholder="0" />
	                	</td>
		              </tr>
		              <tr>
		                <th>Total:</th>
		                <td>$<span id="fact-total" th:text="${factura.valortotal}"></span></td>
		              </tr>
		            </table>
		          </div>
		        </div>
		        <!-- /.col -->
              </div>
              
             <div class="row no-print">
        		<div th:if="${factura.estado == 'NUEVO'}" class="col-xs-12">
        			<a th:href="@{'/factura/reportfactura?id='+${factura.id}}" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Imprimir</a>		
        			<a th:href="@{'/factura/cerrarfactura?factura='+${factura.id}}" class="btn btn-primary pull-right"><i class="fa fa-lock"></i> Cerrar Factura</a>	
        		</div>
      		</div>
              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
		
		
		
	</div>
	
	
		
</body>
</html>