<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      layout:decorator="layouts/root_layout">
<head>
</head>
<body>
	<div layout:fragment="page-content">
    
		 <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="facturas" class="table table-striped">
                <thead>
                <tr>
                  <th>ID ingreso</th>
                  <th>Factura</th>
                  <th>Fecha factura</th>
                  <th>Documento</th>
                  <th>Nombre</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
                </thead>
              </table>
              <div th:if="${result == 3}" class="alert alert-success" role="alert">¡Acción exitosa!</div>
              <div th:if="${result == 1}" class="alert alert-danger" role="alert">Error generando factura!</div>
              <div th:if="${result == 2}" class="alert alert-danger" role="alert">Sin acciones para factura anulado!</div>
            </div>
            <!-- /.box-body METEMOS UN MODEL CON LAS OPCIONES -->
          </div>
          <!-- /.box -->
		
		
		
	</div>
	
		
</body>
</html>